:root {
    --colorPrincipal: #000;
    --colorSecundario: #fff;
    --colorAlternativo: rgb(255, 174, 0);
}

.comida {
    background: rgb(247, 198, 93);
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.cortes {
    padding: 10px;
    margin: 15px 15px 15px 15px;
    border: 1px solid #000;
    display: flex;
}

.card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    width: 500px;
    height: 400px;
    background: var(--colorSecundario);
    border-radius: 3%;
    display: block;
}

.card img {
    width: 300px;
}

@media (max-width:952px) {
    .menu {
        background: var(--colorAlternativo);
        width: 100vw;
        height: 80px;
        font-size: 16px;
    }
}

@media (max-width:858px) {
    .checkbtn {
        display: block;
    }
    .menu_horizontal {
        position: fixed;
        background: #414141;
        height: calc(100vh - 80px);
        width: 100vw;
        text-align: center;
        left: -100%;
        transition: all .3s;
    }
    .menu_horizontal li a {
        font-size: 20px;
    }
    .menu ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked~.menu_horizontal {
        left: 0;
    }
}