:root {
    --colorPrincipal: #000;
    --colorSecundario: #fff;
    --colorAlternativo: darkcyan;
}

body{
    background-image: url(../img/fondoMenu.jpg);
    background-position: center center;
    background-repeat: none;
    background-attachment: fixed;
}
.comida {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
}
.indice li a{
    color: darkcyan;
    font-weight: bold;
    line-height: 25px;
    text-decoration: underline;
}

.cortes, .mexicana, .ensaladas, .mariscos, .bebidas {
    background: rgb(218, 40, 40);
    padding: 20px;
    margin: 15px 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 5px 5px 0  #000;
}
.mexicana{background-color: rgb(252, 158, 71);}
.ensaladas{background-color: rgb(70, 148, 74);}
.mariscos{background-color: rgb(255, 149, 149);}
.bebidas{ background-color: rgb(16, 34, 48);}
.card {
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 450px;
    background: var(--colorSecundario);
    border-radius: 3%;
    box-shadow: 0 5px 5px 0  #000;
    text-align: center;
    font-size: 20px;
}

.card img {width: 300px; max-height: 220px;}

@media (max-width:952px) {
    .menu {
        background: var(--colorAlternativo);
        width: 100vw;
        height: 80px;
        font-size: 16px;
    }
}

@media (max-width:858px) {
    .checkbtn {
        display: block;
    }
    .menu_horizontal {
        position: fixed;
        background: #414141;
        height: calc(100vh - 80px);
        width: 100vw;
        text-align: center;
        left: -100%;
        transition: all .3s;
    }
    .menu_horizontal li a {
        font-size: 20px;
    }
    .menu ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked~.menu_horizontal {
        left: 0;
    }
    .card{
        width: 250px;
        height: 320px;
        margin: 7px;
        padding: 7px;
        box-shadow: 0 5px 5px 0  #000;
        text-align: center;
        font-size: 16px;
    }
    
    .card img {width: 200px; max-height: 150px;}
}