
body{
    background-image: url(../img/fondoMenu.jpg);
    background-position: center center;
    background-repeat: none;
    background-attachment: fixed;
}
.parrafo{
    padding-top: 100px;
    width: 60%;
    margin: auto;
    background: white;
    border-radius:5px;
}

.parrafo p{
    font-size: 18px;
    text-align: justify;
}
